body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* set up grid */
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-areas:
    'header header'
    'text carousel'
    'about contact'
    'footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

/* Set up individual grid items */

header {
  grid-area: header;
  background-color: cornflowerblue;
 }

header nav ul {
  margin-top: 0;
  margin-left: 60%;
  list-style: none;
}

header nav ul li {
  float: left;
  padding-left: 10%;
}

header a {
  text-decoration: none;
  text-shadow: 0px 0px 0px red;
  color:lightgray;
  font-size: 1.5rem;
}
  
section#carousel { grid-area: carousel; }
section#text { grid-area: text; }
section#about {grid-area:about;}
section#contact {grid-area:contact;}
footer {
  grid-area: footer;
  text-align: center;
}



.slideshow-container, .mySlides {
  width: 100%;
}

.mySlides img {
  object-fit: contain;
  width: 100%;
  max-height: 50vh;
}


